div#box {
  background: #000000;
  width: 85%;
  height: 85%;
  border-radius: 20px;
  padding: 30px;
}

div#container {
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  margin-top: 50px;
  font-size: 2.2em;
  font-weight: 700;
  color: #F34C4C;
}

a {
  color: red;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p#copyright {
  margin-top: 85px;
}