html {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  min-height: 100%;

  /* Separate Header, Main and Footer */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* === HEADER === */

header, footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  background-color: #090809;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header a {
  color: #fff;
  text-decoration: none;
}
header a.title {
  font-size: x-large;
  white-space: nowrap;
  overflow: hidden;
}

header ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-left: 0;
}
header li {
  margin-left: 38px;
}

/* === FOOTER === */

footer {
  margin-top: 80px;
  justify-content: center;
}

/* === BASE === */

body {
  background: linear-gradient(90deg, #0F0D0D 0%, #230000 100%);
}

* {
  /* border: 0.5px solid white; */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}