html {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  min-height: 100%;

  /* Separate Header, Main and Footer */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* === HEADER === */

header, footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  background-color: #090809;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header a {
  color: #fff;
  text-decoration: none;
}
header a.title {
  font-size: x-large;
  white-space: nowrap;
  overflow: hidden;
}

header ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-left: 0;
}
header li {
  margin-left: 38px;
}

@media screen and (max-width: 750px) {
  /* Source: https://codepen.io/alvarotrigo/pen/oNGzoYd */
  
  header {
    position: relative;
    overflow-x: clip;
  }
  
  #menu {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 15px 0 0;
    cursor: pointer;
  }
  
  .bar {
    height: 5px;
    width: 100%;
    background-color: #DC052D;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
    margin-left: 0;
  }
  
  .nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    font-weight: bold;
  }
  
  .menu-bg, #menu {
    top: 0;
    right: 0;
    position: absolute;
  }

  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #DC052D, #DC052D);
    border-radius: 50%;
    transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: white;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 490px;
    height: 555px;
    transform: translate(53%,-30%);
  }
}


/* === FOOTER === */

footer {
  margin-top: 80px;
  justify-content: center;
}


/* === BASE === */

body {
  background: linear-gradient(90deg, #0F0D0D 0%, #230000 100%);
}

* {
  /* border: 0.5px solid white; */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.dynamic-title {
  text-align: center;
}

.dynamic-title span {
  display: inline-block;
}