<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <title>Ghost Land | About</title>
</head>
<body>
    <main>
        <div id="box">

            <div id="container">
                <h1>NX DOMAIN</h1>
                <p>This domain is the property of Ghost Land Team: <a href="https://github.com/ghost-land" target="_blank">https://github.com/ghost-land</a></p>
                
                <h1>Our Mission</h1>
                <p>
                    At Ghost Land Team, we are dedicated to providing a safe, secure, and  innovative digital space for all our users. <br>
                    Our team is committed to  upholding the highest standards of integrity and trust in all our  services.
                </p>
                
                <h1>Core Values</h1>
                <div id="core-values">
                    <div class="value">
                        Innovation: We strive to be at the forefront of technological advancements.
                    </div>
                    <div class="value">
                        Security: Ensuring the safety of our users is our top priority.
                    </div>
                    <div class="value">
                        Integrity: We conduct our business with the utmost honesty and transparency.
                    </div>
                    <div class="value">
                        Community: We believe in fostering a supportive and inclusive community.
                    </div>
                    <div class="value">
                        Excellence: We are committed to delivering the highest quality services.
                    </div>
                </div>

                <h1>Contact Information</h1>
                <p>If you have any questions or concerns, feel free to reach out to us at: <a href="mailto:info@ghostland.at">info@ghostland.at</a></p>
                
                <h1>Authorities</h1>
                <p>Authorities can contact Ghost Land in case of abuse at: <a href="mailto:abuse@ghostland.at">abuse@ghostland.at</a></p>
                

                <p id="copyright">
                    © 2020-{{year}} Ghost Land Team. All rights reserved.
                </p>
            </div>
        </div>
    </main>
</body>
</html>