<header>
  <a href="/" class="title">
    {{ text('title', lang) }}
  </a>

  <div>
    <div id="menu">
      <div id="menu-bar" onclick="menuOnClick()">
        <div id="bar1" class="bar"></div>
        <div id="bar2" class="bar"></div>
        <div id="bar3" class="bar"></div>
      </div>
      <nav class="nav" id="nav">
        <ul>
          <div id="language-selector">

            <select id="lang-select">
              <option value="en" selected>English</option>
              <option value="fr">Français</option>
            </select>

          </div>
        <li><a href="{{ '/announcements' if lang == 'en' else '/announcements?lang=' + lang }}">{{ text('Announcements', lang) }}</a></li>
        <li><a href="{{ '/about' if lang == 'en' else '/about?lang=' + lang }}">{{ text('About', lang) }}</a></li>
        <li><a href="{{ '/#projects' if lang == 'en' else '/?lang=' + lang + '#projects' }}">{{ text('Projects', lang) }}</a></li>
        <li><a href="{{ '/contact' if lang == 'en' else '/contact?lang=' + lang }}">{{ text('Contact', lang) }}</a></li></ul>
      </nav> 
    </div>
    <div class="menu-bg" id="menu-bg"></div>
  </div>
</header>